* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* flex-wrap: wrap; */
  overflow: hidden;
}
.flex-item {
  width: 15%;
  /* height: 100px; */
  border: 1px solid grey;
}
.flex-item-flex {
  width: 15%;
  height: 100px;
  border: 1px solid grey;
  display: flex;
}
.flex {
  width: 100%;
  height: 300px;
  border: 1px solid rgb(127, 49, 49);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
}
.o3 {
  align-self: flex-start;
  height: 50%;
}

.o1 {
  align-self: flex-end;
}
/* .o4 {
  order: 4;
}
.o2 {
  order: 2;
} */
