*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 80%;
    height: 500px;
    border: 2px solid black;
    margin: 100px auto;
    position: relative;
}
.box{
    width: 100px;
    height: 100px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* transform: translateX(20px) translateY(20px); */
    /* transform: translate(20px, 20px); */
    /* transform: translate(100%, 100%); */
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */

    /* transform: rotateX(360deg); */
    /* transform: rotateY(90deg); */
    /* transition: all 0.6s; */

    /* transition-property: background-color, transform; */
    transition-property: all;
    transition-duration: 1s;
    /* transition-delay: 2s; */
    /* transition-timing-function: ease; */
    /* transition-timing-function: cubic-bezier(.02,.64,.78,.07); */
    transition: all 0.6s ease-in 0s;
}

.box:hover{
    /* transform: translateX(200px) rotate(360deg); */
    /* transform: scale(1.5, 2.5); */
    transform: scale(1.5);
    /* transform: skew(50deg); */
    /* width: 150px;
    height: 150px; */
    background-color: orangered
}

