* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  flex-wrap: nowrap;
}
.nav {
  border-bottom: 0.5px solid lightgrey;
}
.container {
  height: 80px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.serach-input {
  padding: 12px;
  border-radius: 24px;
  border: 0.5px solid grey;
  padding-left: 36px;
}
.input-container {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 13px;
  left: 12px;
  color: grey;
}
.my-logo {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.my-social-icons {
  text-decoration: none;
  color: black;
}
.right-side {
  display: flex;
  gap: 16px;
}
.menu-items {
  display: block;
  height: 1px;
  width: 24px;
  background-color: black;
}
.hamburger {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
