* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
}
#navbar {
  padding-bottom: 24px;
}
.nav {
  border-bottom: 0.5px solid lightgrey;
}
#navbar .container {
  height: 80px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.serach-input {
  padding: 12px;
  border-radius: 24px;
  border: 0.5px solid grey;
  padding-left: 36px;
}
.input-container {
  position: relative;
  width: 24%;
}
.search-icon {
  position: absolute;
  top: 13px;
  left: 12px;
  color: grey;
}
.my-logo {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.my-social-icons {
  text-decoration: none;
  color: black;
}
.right-side {
  display: flex;
  justify-content: end;
  gap: 16px;
  width: 24%;
}
.menu-items {
  display: block;
  height: 1px;
  width: 24px;
  background-color: black;
}
.hamburger {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.trending-title {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 56px;
  margin-bottom: 40px;

  .title {
    font-size: 40px;
    font-weight: 900;
  }
}
.img-holder {
  /* width: 440px; */
  height: 385px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}
#welcoming .container {
  margin-right: 5%;
  margin-left: 5%;
  .img-container {
    width: 42%;
  }
}

.trending-container {
  display: flex;
  justify-content: space-between;
}
.text-container {
  display: flex;
  justify-content: start;
}
.test {
  width: 54%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.date {
  color: #999;
}
.sub-title {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.2;
}
.body-text {
  font-size: 14px;
  color: #888;
  font-weight: 400;
}
.profile {
  display: flex;
  gap: 8px;
  .little-img-holder {
    height: 45px;
    width: 45px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cards-section .container {
  margin-top: 80px;
  margin-right: 5%;
  margin-left: 5%;
}
.card {
  width: 30%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cards-section {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 60px 0;
    .img-container {
      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    .info {
      display: flex;
      font-size: 14px;
      b {
        color: #222;
      }
      p {
        color: #888;
      }
    }
    .card-header {
      h2 {
        font-size: 18px;
        color: #222;
        line-height: 1.2;
        font-weight: 800;
      }
    }
    .card-body-text {
      p {
        font-size: 14px;
        color: #888;
        line-height: 1.5;
      }
    }
    .card-profile {
      display: flex;
      gap: 12px;
      .profile-img-container {
        height: 45px;
        width: 45px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .profile-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          color: #888;
        }
      }
    }
  }
}
