* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  flex-wrap: nowrap;
}
#navbar {
  padding-bottom: 24px;
}
.nav {
  border-bottom: 0.5px solid lightgrey;
}
#navbar .container {
  height: 80px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.serach-input {
  padding: 12px;
  border-radius: 24px;
  border: 0.5px solid grey;
  padding-left: 36px;
}
.input-container {
  position: relative;
  width: 24%;
}
.search-icon {
  position: absolute;
  top: 13px;
  left: 12px;
  color: grey;
}
.my-logo {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.my-social-icons {
  text-decoration: none;
  color: black;
}
.right-side {
  display: flex;
  justify-content: end;
  gap: 16px;
  width: 24%;
}
.menu-items {
  display: block;
  height: 1px;
  width: 24px;
  background-color: black;
}
.hamburger {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.trending-title {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 56px;
  margin-bottom: 40px;

  .title {
    font-size: 40px;
    font-weight: 900;
  }
}
.img-holder {
  /* width: 440px; */
  height: 385px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}
#welcoming .container {
  margin-right: 5%;
  margin-left: 5%;
}
.img-container {
  width: 48%;
}
.trending-container {
  display: flex;
  justify-content: space-between;
}
.text-container {
  display: flex;
  justify-content: start;
}
.test {
  width: 48%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.date {
  color: #999;
}
.sub-title {
  font-size: 40px;
  font-weight: 700;
}
.body-text {
  font-size: 14px;
  color: #999;
}
.profile {
  display: flex;
  gap: 8px;
  .little-img-holder {
    height: 45px;
    width: 45px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
