.img {
  width: 200px;
  height: 200px;
  opacity: 1;
  /* box-shadow: 5px 5px rgb(138, 217, 114); */
}
/* .img:hover {
  opacity: 1;
  width: 500px;
  height: 500px;
  visibility: hidden;
} */
.shadow-element {
  text-shadow: 2px 2px 5px grey;
}
.square {
  margin-top: 10px;
  background-color: rgba(209, 233, 25, 0.8);
  height: 100px;
  width: 100px;
  /* box-shadow: 5px 5px 5px 12px rgb(21, 55, 67) inset; */
  box-shadow: 5px 5px 5px rgb(21, 55, 67), 10px 10px 5px green,
    10px 10px 10px rgb(128, 0, 0);
}
/* .gpt {
  position: relative;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 10px;
  z-index: 1;
}
.gpt::after {
  content: "";
  position: absolute;
  inset: -10px;
  background: linear-gradient(45deg, red, blue);
  filter: blur(20px);
  z-index: -1;
  border-radius: inherit;
} */
.shadow-element:hover img {
  display: none;
}

.active {
  background-color: green;
}
.submit:active {
  background-color: pink;
  transition: ease-in 0.5s;
}
