.my-absolute {
  position: absolute;
  /* left: 100px;
  top: 100px; */
  bottom: 0;
  right: 0;
}

.my-sideBar {
  height: 600px;
  width: 200px;
  border: 1px solid rgb(7, 56, 0);
  /* position: absolute; */
  position: relative;
  right: 10px;
  top: 10px;
  background-color: red;
}
.my-nav {
  height: 70px;
  width: 100%;
  border: 1px solid black;
  background-color: #000;
  position: absolute;
  z-index: 2;
}

.mybox {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lightblue;
  padding: 10px;
}
.mybox.static {
  position: static;
}
